<!DOCTYPE html>
<html>
<head>
  <title>MetaNotification</title>
  <%= stylesheet_link_tag    "meta_notification/application", media: "all" %>
  <%= javascript_include_tag "meta_notification/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
